# Exercise 1

### Step 1. Go to [Kaggle]( https://www.kaggle.com/openfoodfacts/world-food-facts)

### Step 2. Download the dataset to your computer and unzip it.

### Step 3. Use the csv file and assign it to a dataframe called food

In [2]:
# Preparamos el entorno para poder empezar a trabajar. Importamos las librerías básicas
# El "ipython magic" que permite ver los plots en notebooks
%matplotlib inline

# pandas
import pandas as pd

# numpy
import numpy as np

# matplotlib.pyplot
import matplotlib.pyplot as plt

# seaborn
import seaborn as sns

In [3]:
# importamos el archivo "openfoodfacts.tsv" 
# que hemos descargado de Kaggle, lo hemos renombrado y lo hemos metido en la carpeta de datos

# destacar que en la importacion del conjunto de datos a panda hemos tenido 2 problemas
# · problema del delimitador en algunas filas que hemos resuelto con el parametro sep
# · problema de que pandas no acierta con el tipo de algunas columnas y entonces nos requiere
    # o bien especificar el tipo de de las columnas (opcion no viable porque por el numero tan elevado de columnas)
    # o bien indicar mediante el parametro low_memory=False que queremos seguir
food = pd.read_csv('data/openfoodfacts.tsv', sep='\t', low_memory=False)

### Step 4. See the first 5 entries

In [5]:
# primeras entradas del set de datos que nos indica que el set tiene 163 columnas
food.head()

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,0000000003087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de blé noir,NaN,1kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0000000004530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,0000000004559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,0000000016087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,0000000016094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 5. What is the number of observations in the dataset?

In [6]:
food.shape
# 356027 observaciones, con 163 columnas/variables por cada observación/fila

(356027, 163)

### Step 6. What is the number of columns in the dataset?

In [ ]:
# como hemos observado en el paso anterior, el nombre de columnas es 163

### Step 7. Print the name of all the columns.

In [15]:
# mediante esta opcion veremos un array con el valor de todas las columnas del set de datos
food.columns

# con esta otra opcion, ademas de ver el nombre de las columnas, veremos el tipo de dato de cada uno
food.dtypes

code                                     object
url                                      object
creator                                  object
created_t                                object
created_datetime                         object
last_modified_t                          object
last_modified_datetime                   object
product_name                             object
generic_name                             object
quantity                                 object
packaging                                object
packaging_tags                           object
brands                                   object
brands_tags                              object
categories                               object
categories_tags                          object
categories_en                            object
origins                                  object
origins_tags                             object
manufacturing_places                     object
manufacturing_places_tags                object
labels                                   object
labels_tags                              object
labels_en                                object
emb_codes                                object
emb_codes_tags                           object
first_packaging_code_geo                 object
cities                                   object
cities_tags                              object
purchase_places                          object
                                         ...
pantothenic-acid_100g                   float64
silica_100g                             float64
bicarbonate_100g                        float64
potassium_100g                          float64
chloride_100g                           float64
calcium_100g                            float64
phosphorus_100g                         float64
iron_100g                               float64
magnesium_100g                          float64
zinc_100g                               float64
copper_100g                             float64
manganese_100g                          float64
fluoride_100g                           float64
selenium_100g                           float64
chromium_100g                           float64
molybdenum_100g                         float64
iodine_100g                             float64
caffeine_100g                           float64
taurine_100g                            float64
ph_100g                                 float64
fruits-vegetables-nuts_100g             float64
fruits-vegetables-nuts-estimate_100g    float64
collagen-meat-protein-ratio_100g        float64
cocoa_100g                              float64
chlorophyl_100g                         float64
carbon-footprint_100g                   float64
nutrition-score-fr_100g                 float64
nutrition-score-uk_100g                 float64
glycemic-index_100g                     float64
water-hardness_100g                     float64
Length: 163, dtype: object

### Step 8. What is the name of 105th column?

In [20]:
# indicamos al index que nos devuelve el .columns que queremos ver el valor de la posicion 105
food.columns[105]

'-fructose_100g'

### Step 9. What is the type of the observations of the 105th column?

In [25]:
food.dtypes[105]
# parece ser un float de 64 bits

dtype('float64')

### Step 10. How is the dataset indexed?

In [26]:
# con la siguiente funcion vemos que el set de datos esta indexado 
# por numeros que van incrementandose en 1 partiendo del 0
food.index

RangeIndex(start=0, stop=356027, step=1)

### Step 11. What is the product name of the 19th observation?

In [28]:
# utilizaremos la funcion .loc vista en clase a la que indicaremos el indice de la fila y el nombre de a columna
food.loc[19, 'product_name']

'Organic Oat Groats'