# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
# Preparamos el entorno para poder empezar a trabajar. Importamos las librerías básicas
# El "ipython magic" que permite ver los plots en notebooks
%matplotlib inline 

# pandas
import pandas as pd

# numpy
import numpy as np

# matplotlib.pyplot
import matplotlib.pyplot as plt

# seaborn
import seaborn as sns

### Step 2. Import the dataset from drinks.csv

In [2]:
df = pd.read_csv('data/drinks.csv')

### Step 3. Assign it to a variable called drinks.

In [3]:
drinks = df

### Step 4. Which continent drinks more beer on average?

In [4]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [8]:
drinks.groupby('continent')['beer_servings'].sum()
# observamos que el continente que bebe mas cerveza es europa con  8720

continent
AF    3258
AS    1630
EU    8720
OC    1435
SA    2101
Name: beer_servings, dtype: int64

### Step 5. For each continent print the statistics for wine consumption.

In [9]:
drinks.groupby('continent')['wine_servings'].sum()

continent
AF     862
AS     399
EU    6400
OC     570
SA     749
Name: wine_servings, dtype: int64

### Step 6. Print the mean alcoohol consumption per continent for every column

In [10]:
drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcoohol consumption per continent for every column

In [11]:
drinks.groupby('continent')['total_litres_of_pure_alcohol'].median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [12]:
drinks['spirit_servings'].mean()

80.99481865284974

In [13]:
drinks['spirit_servings'].min()

0

In [14]:
drinks['spirit_servings'].max()

438